#phoneScreen {
    width: 414px;
    height: 97vh;
    border: 1px solid black;
    position: absolute;
    font-family: monospace;
}

button {
    cursor: pointer;
    background-color: pink;
    padding: 5px;
    border-radius: 20px;
    position: absolute;
    top: 50px;
    font-family: monospace;
}

.logo {
    position: absolute;
    background-size: cover;
    background-image: url("../images/revuivinate.png");
    font-family: monospace;
    border-radius: 20px;
}

.back {
    top: 10px;
    left: 10px;
    position: absolute;
    cursor: pointer;
}

#loginLogo {
    left: 24%;
    top: 100px;
    width: 200px;
    height: 200px;
}

#btnSignUp {
    left: 32%;
    top: 380px;
    position: absolute;
}

#btnLogin {
    left: 42%;
    top: 340px;
    position: absolute;
}

#userName {
    top: 310px;
    left: 30%;
    position: absolute;
}

#password {
    top: 340px;
    left: 30%;
    position: absolute;
}

#logoStart {
    width: 150px;
    height: 150px;
    left: 30%;
    top: 110px;
}

#txtWelcome {
    top: 265px;
    left: 15%;
    position: absolute;
    font-size: large;
}

#btnUserHub {
    top: 310px;
    left: 35%;
    padding: 15px;
}

#btnScannerPage {
    top: 380px;
    left: 36%;
    padding: 15px;
}

#player {
    top: 20%;
    left: 15%;
    width: 270px;
    height: 270px;
    position: absolute;
}

#result {
    left: 15%;
    top: 70%;
    position: absolute;
}

#capture {
    left: 40%;
    top: 63%;
}

#profileName {
    left: 35%;
    top: 25%;
    position: absolute;
}

#irritantList {
    left: 25%;
    top: 40%;
    width: 200px;
    height: 150px;
    position: absolute;
    background-color: pink;
}

#btnIrritantEdit {
    left: 35%;
    top: 70%;
}

#welcomeRay {
    left: 35%;
    top: 300px;
    position: absolute;
    background-color: pink;
}

.thank-you{
    font-size: 16px;
    padding: 20px;	
  }

  #irritants-form{
    padding: 10px;
    left: 20%;
    position: absolute;
    left:auto;
    top: 100px;
  }

  #irritants-form input,  #irritants-form select{
    width: 300px;
    height: auto;
  }

  label{
    display: block;
  }


  .help-block{
    margin-left:10px;
  }

  .progress{
    width: 300px;
    height:10px;
    border-radius:0px;
    margin-top: 2px;
  }

  #btn-submit{
      width: 300px;
  }

#User{
    top:200px;
}

#userID{
    top:180px;
}

#Ingredient{
    top: 220px;
}

#ingredientID{
    top:200px;
}

#irritantLog{
    width: 414px;
    height: 97vh;
    border: 1px solid black;
    position: absolute;
}

#btn-submit{
    top:240px;
    position: absolute;
}